/* DisplayOCR.css */

/* General styles */
h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    margin-bottom: 10px;
  }
  
  /* ID Card Information styles */
  #idCardInfo {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  #idCardInfo th,
  #idCardInfo td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Display button */
  .display-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Toast styles */
  .toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }